<p>
  <b>Type:</b>
  <%=h @diagram.type %>
</p>

<p>
  <b>Name:</b>
  <%=h @diagram.name %>
</p>

<p>
  <b>Image file name:</b>
  <%=h @diagram.image_file_name %>
</p>

<p>
  <b>Image content type:</b>
  <%=h @diagram.image_content_type %>
</p>

<p>
  <b>Image file size:</b>
  <%=h @diagram.image_file_size %>
</p>

<p>
  <b>Image updated at:</b>
  <%=h @diagram.image_updated_at %>
</p>


<%= link_to 'Edit', edit_diagram_path(@diagram) %> |
<%= link_to 'Back', diagrams_path %>