<% content_for :title do -%>
Data Catalogue
<% end -%>

<% content_for :left_body do %>
	<% @map_data.each do |map_datum| %>
		<div class="span-15 append-bottom">
			<h4 class="cufon"><%= link_to map_datum.title, map_datum %></h4>
				<span class="small quiet" >
				<%= link_to map_datum.url, map_datum.url, :style => "color:#666" %>
				<hr style="margin-bottom:0;">
				<%= link_to pluralize(map_datum.map_layers.length, "layer"), map_datum %>.
				Dataset used in 
				<%= link_to pluralize(map_datum.questions.length, "question"), questions_map_datum_url(map_datum) %>. Added <%= map_datum.created_at.to_date.to_s(:long)%>
				</span>
		</div>
	<% end %>
	
	<div class='flickr_pagination'>
	<%= will_paginate @map_data %>
	</div>
<% end -%>
