
<% content_for :theme_body do %>
<div class="span-23 last " style="margin-bottom:1em">
<script type="text/javascript">
   swfobject.registerObject("myId", "9.0.0", "expressInstall.swf");
   </script>

<object id="myId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="910" height="400">

        <param name="movie" value="/swf/map_data.swf?json_url=<%= @controller.url_for %>.json" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="/swf/map_data.swf?json_url=<%= @controller.url_for %>.json" width="910" height="400">
        <!--<![endif]-->
          <p>Please install Flash to see map viewer</p>
        <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
      </object>
</div>


<div class="ref_details span-15 colborder">
	<h3 class="cufon"><%= @map_datum.title %></h3>
	
	<table class="client_ref_show">
		
		<tr>
			<td><h6>Added</h6></td>
			<td>
				<%= @map_datum.created_at.to_date.to_s(:long) %>
			</td>
		</tr>
		
		<% if !@map_datum.description.blank? %>
		<tr>
			<td><h6>Description</h6></td>
			<td>
				<%= RedCloth.new(@map_datum.description).to_html %>
			</td>
		</tr>
		<% end -%>
		
		<tr>
			<td><h6>Layers</h6></td>
			<td>
				<% @map_datum.map_layers.each do |ml| %>
				<div class="map_layer" title="Map Layer Details (TODO)">
					<%= link_to ml.title, map_datum_map_layer_path(@map_datum, ml) %>
					<%= google_label ml %>
					<%= wgs_label ml %>
				</div>
				<% end -%>	
			</td>
		</tr>
	
		
		</table>
</div>

<div class="span-7 last">
	<div class="box ">
		<!-- RESOURCES -->
	
			<h5><%= image_tag "icons/world_link.png" %> Online Resource</h5>
			<ul>
					<li>					
							<%= link_to "WMS service", @map_datum.url, :target => "_blank" %>
					</li>
				
			</ul>
	</div>
	
		<!-- Categories -->
			<hr>
			<h5><%= image_tag "icons/map.png" %> Questions that use this data</h5>
				<% @map_datum.questions.each do |q| %> 
				<% if q.has_photo? %>
					<%= link_to image_tag(q.first_photo.image.url(:flickr), :style => "float:left; margin-right:10px"), [q.theme, q] %><span class="quiet small"><%= q.created_at.to_date.to_s(:short)%>, <%= link_to q.theme.title, q.theme, :class => "quiet" %> </span>
					
					<h6><%= link_to truncate(q.title,90), [q.theme, q]%> </h6>
				<% else -%>
				<span class="quiet small"><%= q.created_at.to_date.to_s(:short)%>, <%= link_to q.theme.title, q.theme, :class => "quiet" %> </span>
					<h6><%= link_to q.title, [q.theme, q]%></h6>
      	<% end -%>
				<div class="clear">&nbsp;</div>
				<hr>				
				<% end -%>

				<div class="clear">&nbsp;</div>
	
</div>	

<% end -%>