<h1>New map_meta</h1>

<% form_for(@map_meta) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :abstract %><br />
    <%= f.text_field :abstract %>
  </p>
  <p>
    <%= f.label :westBoundLongitude %><br />
    <%= f.text_field :westBoundLongitude %>
  </p>
  <p>
    <%= f.label :eastBoundLongitude %><br />
    <%= f.text_field :eastBoundLongitude %>
  </p>
  <p>
    <%= f.label :northBoundLongitude %><br />
    <%= f.text_field :northBoundLongitude %>
  </p>
  <p>
    <%= f.label :southBoundLongitude %><br />
    <%= f.text_field :southBoundLongitude %>
  </p>
  <p>
    <%= f.label :map_datum_id %><br />
    <%= f.text_field :map_datum_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', map_metas_path %>